<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>KaGkkRvRTSzJAT4Q3Vdm0epMX</string>
	<key>consumer_Secret</key>
	<string>AHo3ggAXrHWTRSgPXZl2LeNa7LNXutkBE5XBC2ScAJkm00YtnV</string>
</dict>
</plist>
